[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/stillwater-sc/universal"]
	path = ext/stillwater-sc/universal
	url = https://github.com/stillwater-sc/universal
